<% include partials/header %>
        
    <!-- Display Search Box -->
    
    <div class="jumbotron boxed">
        <h2 class="searchHeader">Welcome!!</h2>
        <h3 class="searchHeader">Please enter your Flickr Search Criteria Below:</h2>
            <div class="boxDisplay">
                <form action="/" method="post">
                    <div class="form-group"><input type="text" name="searchTerms" /></div>
                    <button class="btn btn-lg btn-success buttonCenter">Search</button>
                </form>
            </div>
    </div>
        
<% include partials/footer %>