<% include partials/header %>
        
    <!-- Display Search Box -->

    <h2 class="searchHeader">Welcome to PhotoFinder!!</h2>
    <div class="jumbotron boxed">
        
        <h3 class="searchHeader2">Please enter your search criteria below and we will search Flickr:</h2>
            <div class="boxDisplay">
                <form action="/" method="post">
                    <div class="form-group"><input type="text" name="searchTerms" /></div>
                    <button class="btn btn-lg btn-success buttonCenter">Search</button>
                </form>
            </div>
    </div>
</div>
        
<% include partials/footer %>